# Choosing mode (graphical|text|cmdline [--non-interactive])
text
# repo --name="AppStream" --baseurl=file:///run/install/sources/mount-000-cdrom/AppStream

# Use network installation
# url --mirrorlist="https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-36&arch=x86_64"
# url --mirrorlist="https://mirrors.centos.org/mirrorlist?repo=centos-stream-10&arch=aarch64"
# url --mirrorlist="https://mirrors.centos.org/mirrorlist?path=/10-stream/BaseOS/x86_64/iso/CentOS-Stream-10-latest-x86_64-dvd1.iso&redirect=1&protocol=https"

# Use CDROM installation media
cdrom

# Initial Setup Agent on first boot
firstboot --enable

# System language
lang en_CA.UTF-8
# Keyboard layout
keyboard --xlayouts="us(intl)"
# System timezone
timezone America/Toronto --utc

# Network information
network --bootproto="dhcp" --device="link" --onboot="on"
network --hostname="fhoule.seclinux.lan"

# Root password
rootpw --lock
# User password
user --name="admin" --groups="wheel" --gecos="admin" --password="$6$rounds=656000$UzwIYSnt2DBW8gmH$pJ0omxGE8azeOpbYenn24zwuGEDMlh5Lo8wzVrdIk3Jbo8MAB5pMNfr7g07uxl0fnd2uTZD1DFaIJiXfL7zas0" --iscrypted

# Firewall configuration
firewall --enabled --ssh

# SELinux
selinux --enforcing

## Clearing
ignoredisk --only-use="nvme0n1"
#zerombr
clearpart --all --initlabel --disklabel="gpt"

## Partition layout
autopart --nohome

# Packages
%packages
%end

# Services
services --enabled="sshd.service"

# Reboot the system after installation.
reboot

# Enable kdump
%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

%pre
%end

%post
dnf update -y
%end
